<template>
    <div v-if="isNameLoading" class="flex flex-center">
        <q-spinner
        color="deep-purple"
        size="4em"
      />

    </div>
    <div v-else-if="error">

      <q-banner class="bg-red text-white" style="margin-bottom: 2em">
        <b>{{ error }}</b>
      </q-banner>
    </div>
    <div v-else-if="action && !isSubmitting">
      <q-banner class="bg-green-3 text-black" style="margin-bottom: 2em">
        <div v-if="action == 'confirm'">Du hast nun zugesagt. Wir freuen uns auf dich! :)</div>
        <div v-else>Schade, dass du nicht kommst, aber danke, dass du uns Bescheid gibst. Wir können den Platz nun einen anderen Menschen weiter geben.</div>
        
      </q-banner>
    </div>
    <div v-else>
        <h6 class="q-ma-none">{{ name }}, kommst du zum Acrolotl?</h6>
        <div v-if="response == 'zugesagt'">
            Du hast bereits bestätigt, dass du kommst. Sollte es sich doch ändern, schreib uns doch an <a href="mailto:info@acrolotl.de" class="text-deep-purple">info@acrolotl.de</a>
        </div>
        <div v-if="response == 'abgesagt'">
            Du hast bereits abgesagt. Wir haben haben den Platz nun wohl leider schon an einen anderen Menschen weitergegeben.
        </div>
        <div v-if="!response">
            <p>Bitte bestätige uns bis zum 15. Januar, dass du wirklich kommst, so dass wir den Platz ansonsten einen anderen Menschen schenken können.</p>
            <q-btn label="Ja" color="green" class="q-mr-md" :disable="isSubmitting" :loading="isSubmitting && action == 'confirm'" @click="submit('confirm')" />
            <q-btn label="Nein" color="red" :disable="isSubmitting" :loading="isSubmitting && action == 'cancel'" @click="submit('cancel')" />
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            isNameLoading: true,
            isSubmitting: false,
            name: '',
            error: false,
            response: null,
            action: null
        }
    },
    async created() {
        try {
            const res = await axios.get(`https://chandi.it/acrolotl/confirm.php?action=name&key=${this.$route.params.key}`)
            if(!res.data.success) {
                this.error = 'Deine Anmeldung konnte nicht gefunden werden'
            } else {
                this.name = res.data.name
                this.response = res.data.response
            }
            console.log(res)
        } catch(err) {
            this.error = 'Es ist ein unbekannter Fehler aufgetreten. Versuch es doch noch mal erneut'
        }
        this.isNameLoading = false
    },
    methods: {
        async submit(action) {
            this.isSubmitting = true
            this.action = action
            try {
                const res = await axios.get(`https://chandi.it/acrolotl/confirm.php?action=${action}&key=${this.$route.params.key}`)
                if(!res.data.success) {
                    this.error = 'Es ist ein Fehler aufgetreten. Versuch es doch noch mal erneut'
                }
            } catch(err) {
                this.error = 'Es ist ein unbekannter Fehler aufgetreten. Versuch es doch noch mal erneut'
            }
            this.isSubmitting = false
        }
    }
}
</script>