<template>
    <div>
        <h5>Impressum</h5>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Jonathan Fried<br> 
        Kantstraße 20<br> 
        04808 Wurzen <br> 
        </p>
        <p><strong>Kontakt:</strong> <br>
E-Mail: <a href='mailto:kontakt@acrolotl.de' class="text-deep-purple">kontakt@acrolotl.de</a></br></p><p>
</p><p><strong>Haftungsausschluss: </strong><br><br><strong>Datenschutz</strong><br><br>
Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
</p>
    </div>
</template>