<template>
    <div>
<p>Hallo Freundinnen und Freunde der Lüfte, liebe Acrolotls und Acrolibellen,</p>
<p>es wird wieder Zeit gemeinsam zu fliegen, fliegen zu lassen, durch die Lüfte zu wirbeln, zu fallen, wieder aufzustehen, zu lachen und eine richtig schöne Zeit zusammen zu genießen! </p>
<p> Wir wollen den grauen, kalten Winter wieder bunt und lebendig werden lassen und dieses Jahr völlig schwerelos und von jedem beliebigen Ort aus, Out of Space im Internet zusammenfinden.</p>

<b>Was:</b> Acroyoga und Akrobatik<br/>
<b>Wo:</b> Out of Space<br/>
<b>Wann:</b> 20. und 21. Februar 2021<br/><br/>

<p> Weitere Infos gibt es auf der <a href="https://www.facebook.com/events/2375700355907755" class="text-purple-3">Facebook-Veranstaltung</a> und dort im Diskussionsbereich.</p>

<p>Lasst uns gemeinsam eine unvergessliche Zeit haben!<br />
Wir freuen uns sehr auf euch!</p>

Eure Acrolotls<br />
Kontakt: <a href="mailto:info@acrolotl.de" class="text-purple-3">info@acrolotl.de</a><br />

       
    </div>
</template>

<style>
</style>

<script>
export default {
}
</script>