<template>
    <div>
      <div class="text-h6">Anmeldung</div>

      <q-banner class="bg-warning text-white" style="margin-bottom: 2em">
        <b>Leider sind nun schon alle Plätze weg.</b><br /><br />
        Wir werden versuchen fürs nächste mal eine größere Halle zu finden! :) Wenn du eine Idee hast, meld dich gerne.
      </q-banner>

      <!-- <div class="q-gutter-md" v-if="!success">
        <q-input v-model="name" label="Dein Name*" dense filled dark color="deep-purple-3" />

        <q-input v-model="mail" ref="mail" type="email" label="Deine E-Mail*" dense filled dark color="deep-purple-3"/>

        <div>
          <div class="q-mt-sl">An welchen Tagen wirst du mit uns fliegen?</div>
          <q-checkbox v-model="saturday" label="Samstag (25.1.)" color="deep-purple-3" dark />
          <q-checkbox v-model="sunday" label="Sonntag (26.1.)" color="deep-purple-3" dark />
        </div>

        <div>
          <div class="q-mt-sl">Wie würdest du deine Erfahrung einschätzen?</div>
          <q-radio v-model="level" val="beginner" label="Anfänger*in" class="q-mr-sm" color="deep-purple-3" dark/>
          <q-radio v-model="level" val="advanced" label="Fortgeschritten" class="q-mr-sm" color="deep-purple-3" dark/>
          <q-radio v-model="level" val="expert" label="Expert*in" color="deep-purple-3" dark/>
        </div>
      
        <q-toggle
          label="Brauchst du noch einen Schlafplatz?"
          v-model="sleepNeeded"
          color="deep-purple-3"
          :disable="sleepOffer"
          dark
        />
        <q-toggle
          label="Kannst du Menschen bei dir Zuhause übernachten lassen?"
          v-model="sleepOffer"
          color="deep-purple-3"
          :disable="sleepNeeded"
          dark
        />
        <q-input v-if="sleepOffer"  v-model="sleepingPlaces" label="Wieviele Menschen?" color="deep-purple-3" dense filled dark/>
        <q-toggle
          label="Kannst du dir vorstellen Essen für den Frühstücksbrunch mitzubringen?"
          v-model="foodBrunch"
          color="deep-purple-3"
          dark
        />
        <q-input v-if="foodBrunch" v-model="foodBrunchType" label="falls du's schon sagen kannst: was denn?" color="deep-purple-3" dense filled dark/>

        <q-input v-model="allergies" label="Hast du irgendwelche Allergien/Unverträglichkeiten?" color="deep-purple-3" dense filled dark/>

        <q-input
          label="Gibt es irgendwas, was du uns noch mitteilen magst? "
          v-model="comment"
          filled
          type="textarea"
          color="deep-purple-3"
          autogrow
          dense
          dark
        />

        <q-checkbox v-model="agreement2" color="deep-purple-3" dark>
          Ich bin mir dessen bewusst, dass ich an der Veranstaltung auf eigene Gefahr teilnehme*
        </q-checkbox>
        <q-checkbox v-model="agreement" color="deep-purple-3" dark>
          Datenschutz*
          <div style="font-size:70%;opacity:0.8">Hiermit akzeptiere ich, dass meine Daten für die Dauer der Vorbereitung und Veranstaltung gespeichert, mich die Veranstalter*innen im Rahmen der Organisation kontaktieren dürfen und Kontaktdaten, falls ein Schlafplatz gesucht/angeboten, zur Vermittlung an den anderen Menschen weitergereicht wird. 
          </div>
        </q-checkbox>
        <br />


        <q-btn color="deep-purple-4" label="Abschicken" :disable="disabled" @click="submit" :loading="isLoading" />
      </div>
      <div v-if="success">
        <q-banner class="bg-grey-9">
          <template v-slot:avatar>
            <q-icon name="check" color="green" />
          </template>
          Deine Anmeldung für die Warteliste wurde erfolgreich abgeschickt. Du hörst von uns, sollte ein Platz frei werden! :)
          <template v-slot:action>
            <q-btn no-caps color="grey" label="Weitere Person anmelden" @click="success = false"/>
          </template>
        </q-banner>
      </div>
     -->
    </div>

</template>

<style>
</style>

<script>
import axios from 'axios'

export default {
  name: 'Registration',
  data() {
    return {

      name: '',
      mail: '',
      comment: '',
      allergies: '',
      sleepingPlaces: '',
      foodBrunchType: '',

      saturday: false,
      sunday: false,
      level: null,

      sleepOffer: false,
      sleepNeeded: false,
      foodBrunch: false,
      agreement: false,
      agreement2: false,

      success: false,
      isLoading: false,

    }
  },
  computed: {
    disabled() {
      console.log(this.$refs.mail)
      if(!this.name.trim()) return true
      if(!this.mail.trim()) return true
      if(!this.agreement) return false
      if(!this.agreement2) return false
      return false
      // TODO: valiate email
    }
  },
  methods: {
    // async submit() {
    //   this.isLoading = true
    //   const data = {
    //     name: this.name,
    //     email: this.mail,
    //     comment: this.comment.trim(),
    //     allergies: this.allergies.trim(),
    //     sleepingPlaces: this.sleepOffer ? (this.sleepingPlaces.trim() || 'Ja (ohne Angabe)') : '-',
    //     foodBrunch: this.foodBrunch ? (this.foodBrunchType.trim() || 'Ja (ohne Angabe)') : '-',
    //     saturday: this.saturday !== null ? (this.saturday ? 'Ja' : 'Nein') : '-',
    //     sunday: this.sunday !== null ? (this.sunday ? 'Ja' : 'Nein') : '-',
    //     level: this.level,
    //     sleepNeeded: this.sleepNeeded ? 'Ja' : 'Nein'
    //   }

    //   try {
    //     const res = await axios.post('https://chandi.it/acrolotl/register.php', data)
    //     if(res.data == 'ok') {
    //       this.success = true

    //       this.name = ''
    //       this.mail = ''
    //       this.comment = ''
    //       this.allergies = ''
    //       this.sleepingPlaces = ''
    //       this.foodBrunchType = ''

    //       this.sleepOffer = false
    //       this.foodBrunch = false


    //       this.saturday = false
    //       this.sunday = false
    //       this.level = null
    //       this.sleepNeeded = false


    //     } else {
    //       this.$q.notify({
    //         color: 'red',
    //         message: 'unexpected respone: '+res.data
    //       })
    //     }
    //   } catch(err) {
    //     console.error(err)
    //     this.$q.notify({
    //       color: 'red',
    //       message: err.message
    //     })
    //   }
    //   this.isLoading = false
    // }
  }
}
</script>
