<template>
  <div class="row container justify-center q-mt-md text-white">
    <div class="col-xs-10 col-sm-6 col-md-5">
      <router-link :to="{name: 'home'}">
        <div class="items-center justify-center">
          <img src="@/assets/acrolotl.jpg" class="full-width" />
        </div>
      </router-link>
      <router-view />
      <router-link :to="{name: 'imprint'}" style="text-decoration:none;opacity: 0.5" class="text-deep-purple q-my-md block">Impressum / Datenschutz</router-link>
    </div>
  </div>
</template>

<script>

export default {

}
</script>

<style>
.rounded {
  border-radius: 50%;
}
body {
  background: #000000;
}
</style>
